<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo_servey</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Index Page</h1>
    <h3>Create a User</h3>
        <form action="/submitted_info/" method="post">
        {% csrf_token %}
        <p>Your name: <input type="text" name="name"></p>
        <p>Dojo location:
            <select name="location">
                <option>Ramallah</option>
                <option>Nablus</option>
                <option>Famagusta</option>
            </select>
        </p>
    
        <p>favourite language:
            <select name="language">
                <option>Python</option>
                <option>Java</option>
                <option>Swift</option>
            </select>
        </p>
            <p>comment (optional):</p>
            <textarea name="comment"></textarea>
            <input type="Submit" value="Submit">
        </form>
</body>
</html>