

.container {
    display: flex;
    justify-content: space-around;
}

.login{
display: flex;
justify-content: center;
align-items: center;
} 

h3{
display: flex;
justify-content: center;
align-items: center;
}

