<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/" method="post"></form>
        <h2>Counter</h2>
        <h3 name="clicks_counter">how many again:{{ clicks }} time(s)</h3>
    <form action="/add_two" method="post">
        <input type="button" value="Add two clicks" name="clicks2">
    </form>
        <form action="/destroy_session" method="post">
            <button type="submit" name="reset">Reset</button>
        </form>
    </body>
</html>