.center{
  justify-content: center;
  text-align: center;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn{
  justify-content: center;
  align-items: center;
}